.home {
  .header {
    @include medium {
      background-color: transparent;
      box-shadow: none;
    }
    
    &__burger {
      display: none;
    }
  }

  .nav {
    opacity: 1;
    transform: translateY(0);
  }

  .footer {
    display: none;
  }
}
