.floating-links {
  position: fixed;
  bottom: calc(100vh - 700px);
  left: 75px;

  width: 600px;
  // border: 1px solid red;
  display: flex;
  justify-content: center;
  
  transform-origin: left;
  transform: rotate(-90deg);

  a {
    font-weight: 400;
    font-size: 12px;

    &::after {
      margin: 0 25px;
      content: '|';
    }

    &:last-child {
      &::after {
        display: none;
      }
    }
  }
}

.big-links {
  &__item {
    display: block;
    margin-bottom: 25px;
    font-weight: 900;
    font-size: 20px;
    font-family: $font-secondary;

    @include small {
      text-align: center;
    }
  }
}


.footer {
  margin-top: 120px;
  background: #232323;
  color: #FCFBF7;
  padding: 160px 70px 160px;

  @include containerSize {
    padding: 140px 20px 100px;
  }

  @include small {
    padding: 80px 20px 40px;
  }

  &__container {
    position: relative;
    padding: 0;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 60px;

    @include large {
      grid-gap: 25px;
      max-width: 100%;
    }

    @include small {
      display: block;
    }
  }

  .menu {
    @include small {
      margin-bottom: 45px;
      text-align: center;
    }

    .menu-title {
      display: block;
      margin-bottom: 25px;
      font-weight: 900;
      color: #636363;
      font-size: 20px;
      font-family: $font-secondary;
    }

    .menu-item {
      display: block;
      margin: 15px 0;
    }
  }

  &__copyright {
    color: #fff;
    font-size: 12px;
    padding: 200px 0 25px;

    @include small {
      padding: 25px 0 0;
      text-align: center;
    }
  }

  &__img {
    position: absolute;
    right: -70px;
    bottom: 0;

    @include containerSize {
      right: inherit;
      left: calc(50% + 15px);
    }

    @include small {
      display: none;
    }
  }
}