.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 6000;

  padding: 36px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: .3s;

  @include medium {
    padding: 20px;
  }

  &__burger {
    border: none;
    padding: 0;
    background: none;

    span {
      display: block;
      width: 20px;
      height: 2px;
      background-color: #232323;
      margin: 6px 0;
      transition: .3s;

      &:nth-child(2) {
        margin-left: 5px;
      }
    }
  }
}

.nav {
  opacity: 0;
  transform: translateY(-100%);
  transition: .4s;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5000;
  padding-top: 170px;

  @include small {
    padding-top: 80px;
    overflow-y: auto;
    max-height: 100vh;
    background: #FCFBF7;
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #FCFBF7;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    @include small {
      display: none;
    }

    &__item {
      display: block;

      width: 100%;
      height: 100%;

      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      transition: .2s;
      opacity: 0;
    }
  }

  &__menus {
    margin: auto;
    padding: 0 200px;

    @include desktop {
      padding: 0 150px;
    }

    @include containerSize {
      padding: 0 100px;
    }

    @include medium {
      padding: 0 20px;
    }
  }

  &__grid {
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 300px;

    @include large {
      grid-gap: 120px;
    }

    @include medium {
      grid-gap: 40px;
    }

    @include medium {
      display: block;
    }

    @include small {
      margin-bottom: 45px;
    }
  }

  .menu {
    position: relative;
    min-height: 250px;

    @include small {
      margin-bottom: 45px;
      min-height: inherit;
    }
  }

  .menu-title {
    position: absolute;
    left: 0;
    top: 0;
    transform: rotate(-90deg) translate(-190px, -245px);

    text-align: right;
    font-weight: 900;
    font-size: 20px;

    width: 400px;

    @include medium {
      width: inherit;
      transform: inherit;
      position: inherit;
      left: inherit;
      top: inherit;
      text-align: left;
    }

    @include small {
      text-align: center;
    }

    &:hover {
      opacity: .7;
    }
  }

  .menu-item {
    display: flex;
    align-items: center;
    position: relative;
    margin: 30px 0;
    transition: .3s;

    @include small {
      margin: 15px 0;
      text-align: center;
      display: block;
    }

    &::before {
      content: '';
      position: absolute;
      width: 6px;
      height: 6px;
      border-radius: 3px;
      background-color: $color-primary;

      opacity: 0;
      transition: .3s;

      @include small {
        display: none;
      }
    }

    &:hover {
      @include from-small {
        transform: translateX(14px);
      }

      &::before {
        opacity: 1;
        transform: translateX(-14px);
      }
    }
  }


  .big-menu-item {
    font-weight: 900;
    font-size: 24px;
    font-family: $font-secondary;

    @include small {
      margin: 25px 0;
      display: block;
      text-align: center;
    }

    &:hover {
      opacity: .7;
    }
  }

  .duo-menu-item {
    width: 200px;
    position: relative;

    @include small {
      width: auto;
    }

    &::before {
      content: '';
      position: absolute;
      top: 15px;
      left: calc(50% - 25px);
      width: 80px;
      height: 1px;
      background-color: #232323;
      transform: rotate(135deg);

      @include small {
        display: none;
      }
    }

    a {
      position: absolute;

      @include small {
        position: inherit;
        left: inherit !important;
        right: inherit !important;
        top: inherit !important;
        bottom: inherit !important;
      }

      &:first-child {
        left: 0;
        top: -20px;
      }

      &:last-child {
        right: 0;
        bottom: -20px;
      }
    }
  }

  &__copyright {
    position: absolute;
    bottom: 80px;
    width: 100%;
    padding: 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include medium {
      bottom: 40px;
      padding: 0 20px;
    }

    @include small {
      padding-bottom: 45px;
      position: inherit;
      bottom: inherit;
      display: block;
      text-align: center;
    }

    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}



.nav-active {
  .header {
    &__burger {
      span {
        &:nth-child(1) {
          transform: translate(0, 8px) rotate(45deg);
        }
        &:nth-child(2) {
          opacity: 0;
          transform: translateX(100%);
        }
        &:nth-child(3) {
          transform: translate(0, -8px) rotate(-45deg);
        }
      }
    }
  }

  .nav {
    opacity: 1;
    transform: translateY(0);
  }

  .sticky-menu {
    display: none;
  }
}