html {
  scroll-behavior: smooth;
}

html {
--scrollbarBG: #000;
--thumbBG: #666;
}
html::-webkit-scrollbar {
  width: 10px;
}
html {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
html::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
html::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

body {
  background: #FCFBF7;
}

.main {
  padding-top: 120px;

  // min-height: calc(100vh - 120px);

  // @include desktop {
  //   padding-top: 80px;
  // }

  // @include medium {
  //   padding-top: 70px;
  // }
}

.container {
  margin: auto;
  width: 100%;
  max-width: 1290px;
  padding: 0 20px;
}

.page-content {
  @include large {
    padding-left: 150px;
    padding-right: 15px;
  }

  @include medium {
    padding: 0;
  }
}


.page-header {
  display: flex;
  justify-content: space-between;
  min-height: 60px;

  @include containerSize {
    display: block;
  }

  &__title {
    margin: 0;

    position: fixed;
    z-index: -1;
    transition: .3s;

    @include containerSize {
      position: inherit;
    }
  }

  &__menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 60px;
    grid-row-gap: 25px;

    font-size: 16px;
    line-height: 21px;

    transition: .3s;

    @include containerSize {
      margin: 25px 0 140px;
    }

    @include small {
      margin: 25px 0;
      display: block;
    }

    a {
      display: flex;
      align-items: center;
      // display: none;
      position: relative;
      transition: .3s;

      @include small {
        margin: 10px 0;
      }

      &::before {
        content: '';
        position: absolute;
        width: 6px;
        height: 6px;
        border-radius: 3px;
        background-color: $color-primary;

        opacity: 0;
        transition: .3s;
      }

      &:hover {
        transform: translateX(14px);

        &::before {
          opacity: 1;
          transform: translateX(-14px);
        }
      }
    }

    @include desktop {
      grid-column-gap: 25px;
    }
  }
}

.sticky-nav {
  position: fixed;
  z-index: 2000;
  left: 0;
  top: 0;
  width: 100%;
  background: #FCFBF7;

  display: flex;
  justify-content: flex-end;
  padding: 25px 0;
  padding-right: 170px;

  opacity: 0;
  transform: translateY(-150px);
  transition: .3s;

  @include small {
    display: none;
  }

  &__menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 60px;
    grid-row-gap: 15px;
  
    font-size: 12px;
  }
}


.page-scrolled {
  .page-header {
    &__title {
      // transform: translateY(-70px);
      transform: translateY(45px);
    }
  
    &__menu {
      opacity: 0;
    }
  }

  .sticky-nav {
    opacity: 1;
    transform: translateY(0);
  }
}


.scroll-to-top {
  background: #FCFBF7;
  padding: 0;

  position: fixed;
  z-index: 100;
  left: 40px;
  bottom: 40px;
  width: 64px;
  height: 64px;
  border: 2px solid #232323;
  border-radius: 32px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include medium {
    display: none;
  }

  &:hover {
    cursor: pointer;
    opacity: .7;
  }
}