html {
  scroll-behavior: smooth;
}

html {
--scrollbarBG: #000;
--thumbBG: #666;
}
html::-webkit-scrollbar {
  width: 10px;
}
html {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
html::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
html::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

body {
  background: #FCFBF7;
}

.main {
  padding-top: 120px;

  // min-height: calc(100vh - 120px);

  // @include desktop {
  //   padding-top: 80px;
  // }

  // @include medium {
  //   padding-top: 70px;
  // }
}

.container {
  margin: auto;
  width: 100%;
  max-width: 1290px;
  padding: 0 20px;
}

.page-content {
  @include large {
    padding-left: 150px;
    padding-right: 15px;
  }

  @include medium {
    padding: 0;
  }
}


.page-header {
  display: flex;
  justify-content: space-between;

  &__title {
    margin: 0;

    position: fixed;
    z-index: -1;
    transition: .3s;
  }

  &__menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 60px;
    grid-row-gap: 25px;

    font-size: 16px;
    line-height: 21px;

    transition: .3s;

    a {
      display: flex;
      align-items: center;
      // display: none;
      position: relative;
      transition: .3s;

      &::before {
        content: '';
        position: absolute;
        width: 6px;
        height: 6px;
        border-radius: 3px;
        background-color: $color-primary;

        opacity: 0;
        transition: .3s;
      }

      &:hover {
        transform: translateX(14px);

        &::before {
          opacity: 1;
          transform: translateX(-14px);
        }
      }
    }

    @include desktop {
      grid-column-gap: 25px;
    }
  }
}

.sticky-nav {
  position: fixed;
  z-index: 2000;
  left: 0;
  top: 0;
  width: 100%;
  background: #FCFBF7;

  display: flex;
  justify-content: flex-end;
  padding: 25px 0;
  padding-right: 170px;

  opacity: 0;
  transform: translateY(-150px);
  transition: .3s;

  &__menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 60px;
    grid-row-gap: 15px;
  
    font-size: 12px;
  }
}


.page-scrolled {
  .page-header {
    &__title {
      // transform: translateY(-70px);
      transform: translateY(45px);
    }
  
    &__menu {
      opacity: 0;
    }
  }

  .sticky-nav {
    opacity: 1;
    transform: translateY(0);
  }
}


// .intro {
//   position: fixed;
//   z-index: 8000;
//   top: 0;
//   left: 0;
//   width: 100vw;
//   height: 100vh;
//   background-color: #fff;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   transition: 1s;

//   & > img {
//     position: absolute;
//     opacity: 0;
//     animation: 3s fade;
//     max-width: 200px;

//     @include medium {
//       width: 40vw;
//     }
//   }
// }

// .site-title {
//   text-align: center;
//   font-weight: 500;
//   text-transform: uppercase;
//   font-size: 40px;
  
//   opacity: 0;
//   animation: 3s fade 3s;

//   cursor: default;

//   @include medium {
//     font-size: 26px;
//   }

//   strong {
//     font-weight: 900;
//   }
// }

// @keyframes fade {
//   0% {opacity: 0;}
//   50% {opacity: 1;}
//   100% {opacity: 0;}
// }


// .hide-on-mobile {
//   @include small {
//     display: none;
//   }
// }

// .hide-on-desktop {
//   @include from-small {
//     display: none;
//   }
// }